.navbar-nav {
	justify-content: flex-end;
}

.example {
	display: flex;
	align-items: center;
	min-height: 54vh;
}

.nav-item {
	margin: 0 35px;
}

.nav-item:hover {
	//background: #B2D235;
	border-radius: 17px;
	background-color: #B2D235;
}

.nav-link:hover {
	color: white !important;
}


@media (max-width: 992px) {
	// TODO
}
