.navbar-nav {
  justify-content: flex-end;
}

.example {
  display: flex;
  align-items: center;
  min-height: 54vh;
}

.nav-item {
  margin: 0 35px;
  padding-right: 15px;
  padding-left: 15px;
}

.nav-item:hover {
  //background: #B2D235;
  border-radius: 17px;
  background-color: #B2D235;
}

.nav-link {
  color: #505353 !important;
  font-weight: 600;
}

.nav-link:hover {
  color: white !important;

}

@media (max-width: 376px) {
  .logo-image {
    width: 150px;
    height: 26.57px;
  }

  // .nav-link:hover {
  //   background-color: #B2D235;
  // }
}
