.banner {
  height: 100vh;
  background-image: url("../../assets/images/Hapo_Learn_banner 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: center;

    .banner-content {
      margin-left: 30px;
    }
}

.banner-header {
  width: 566px;
  height: 145px;
  line-height: 55px;
  margin-bottom: -30px;

    .banner-title {
      font-size: 50px; 
      color: #11114E;
      font-weight: 400;
    }

      .title-weight {
        font-weight: 700;
      }  
}

.banner-image { 
  width: 48.39px;
  height: 43.9px;
}

.banner-text {
  width: 249px;
  height: 50px;

    .paragraph {
      font-size: 20px;
      color: #505353;
      font-weight: 400;
      font: UTM BryantLG;
    }
}

.banner-btn {
  width: 377px;
  height: 70px;
  margin-top: 26px;
  background: #B2D235;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  border: 0;
  font: {
    family: 'UTM BryantLG';
    style: normal;
  }
  letter-spacing: -0.05em;
}

@media (max-width: 769px) {
  .banner {
    width: 767px;
    height: 380px;
  }
  
  .banner-header {
    width: 337px;
    height: 115.22px;
    line-height: 32px;
  }

  .banner-title {
    font-size: 30px !important;

  }

  .banner-image {
    width: 34.98px;
    height: 34.5px;

  }

  .paragraph {
    font-size: 16px !important;
  }

  .banner-btn {
    width: 200px;
    font-size: 16px;
    height: 40.37px;
  }
}

@media (max-width: 376px) {
  .banner {
    width: 375px;
    height: 510px;
    background-size: contain;
  }

  .banner-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    width: 376px;
    line-height: 27px;
  }
  .banner-title {
    font-size: 25px !important;
    margin-right: 59px;
    width: 303px;
  }
  
  .banner-image {
    width: 25.16px;
    height: 22.83px;
  }
  .banner-text {
    margin-left: 20px;
  }

  .title-weight {
    margin-right: 77px;
  }
  .banner-btn {
    width: 250px;
    height: 46.42px;
    font-size: 18px !important;
    letter-spacing: -0.0em;
    margin-left: 20px;
  }
}
