.banner {
  width: 100%;
  height: 100vh;
  background-image: url("/images/Hapo_Learn_banner1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.banner-title {
  width: 86%;
  font-size: 50px;
  font-family: $font-main;
  line-height: 50px;
  color: $color-title;
}

.paragrap {
  font-family: $font-main;
  font-size: 20px;
  color: $black;
  font-weight: 400;
}

.banner-btn {
  width: 377px;
  height: 70px;
  font-family: $font-main;
  margin-top: 26px;
  background:  $green-mainColor;
  color: white;
  font-weight: 700;
  font-size: 30px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  border: 0;
}

@media (max-width: 769px) {
  .banner {
    width: 100%;
    height: 380px;
    background-size: 100%;
  }

  .banner-title {
    width: 100%;
    font-size: 30px !important;
    line-height: 1;
  }

  .banner-image {
    width: 34.98px;
    height: 34.5px;
  }

  .paragrap {
    font-size: 16px;
  }

  .banner-btn {
    width: 200px;
    font-size: 16px;
    height: 40.37px;
  }
}

@media only screen and (max-width: 376px) {
  .banner {
    width: 100%;
    background-size: 100%;
  }

  .banner-wrap {
    position: relative;
  }

  .banner-main {
    position: absolute;
  }

  .banner-title {
    width: 85%;
    font-size: 25px !important;
  }

  .paragrap {
    margin-left: 30px;
  }

  .banner-image {
    width: 25.16px;
    height: 22.83px;
  }

  .banner-btn {
    width: 250px;
    height: 46.42px;
    font-size: 18px !important;
    letter-spacing: -0.0em;
    margin: auto;
  }
}
